.resource-container {
    margin: 1em 1em 1em 1em;
    border: 1px solid var(--primary-brown);
    height: min-content;
}

.resource-container h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--secondary-tan);;
    background-color: var(--primary-brown);
}

.book-resource-container {
   
}

.book-resource-container h3 {
   
}

.book-link {
    
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    text-wrap: nowrap;
    text-align: center;
    display: block;
}

.book-link:hover {
    color: var(--tertiary-tan);
    text-decoration: underline;
}

.book-info-container {
    display: flex;
}

.book-details-container {
    background-color: var(--secondary-tan);
}

.book-author {
    text-align: center;
}

.book-description {
    margin-left: 1em;
    margin-right: 1em;
}

.book-image {
    width: 50%;
}

.ingrident-resource-container {

}